@model IEnumerable<Ai_Virtual_Campus_Management_System.Models.Department>

<div class="container mt-5">

    <h1 class="text-primary">
        Departments
    </h1>

    <a asp-action="Create"
       class="btn btn-success mb-3">
        Add Department
    </a>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>ID</th>
                <th>Department</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Id</td>

                    <td>@item.DepartmentName</td>

                    <td>@item.Description</td>

                    <td>

                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning">
                            Edit
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">
                            Delete
                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>